<div class="row">
  <div class="col s12 m6">
    <div class="center-align card darken-1 col s12 push-s6" id="student-card">
      <div class="card-content white-text">
        <span class="card-title" id="alert-title"><%= @student.name %></span>

        <ul>
          <li id="error-list">Email: <%= @student.email %></li>
        </ul>

      </div>
    </div>
  </div>
</div>