@import "materialize-css/dist/css/materialize";

body {
  background-color: rgb(77, 77, 77);
  color: white !important;
}

#logo {
  font-size: 30px;
  margin-left: 30px;
}

#purple-light {
  background-color: rgb(100, 34, 206) !important;
}

#purple-dark {
  background-color: rgb(141, 71, 255) !important;
}

.text-white {
  color: white !important;
}

.text-black {
  color: black;
}

#courses-index {
  font-size: 20px !important;
}

/*
shit for the footer to work
*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*
end footer shit
*/

#course-name {
  font-size: 20px;
  margin-top: -2px;
  font-weight: 400;
}

.card {
  background-color: rgb(81, 19, 97) !important;
}

#funi-text {
  margin-bottom: 30px;
  margin-top: 20px;
}

#alert-card {
  background-color: rgb(245, 14, 45) !important;
  margin-top: 30px;
}

#alert-title {
  font-size: 30px;
  font-weight: 700;
}

#error-list {
  font-size: medium;
}

#register-form {
  margin-bottom: 50px;
}

#student-card{
  background-color: blueviolet;
  margin-top: 100px;
}