<h2 class="center-align">This is the index page for Courses :)</h2>

<p id="courses-index">Code: CS111<br>
Name: Intro to Computer Science<br>
Description: A through introduction to Computer Science<br> 
<br>
Code: CS112<br>
Name: Intro to Computer Science<br>
Description: A through introduction to Computer Science</p>