<div class="container">

  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>

  <nav class="nav-extended" id="purple-light">

    <div class="nav-wrapper">
      <%= link_to 'Uni-app', root_path, method: :get, id: "logo" %>
    </div>

    <div class="nav-content" id="purple-dark">
      <ul class="tabs tabs-transparent">
        <li class="tab"><%= link_to 'Courses', root_path %></li>
        <li class="tab"><%= link_to 'Students', students_path %></li>
        <li class="tab"><%= link_to 'Student register', new_student_path %></li>
      </ul>
    </div>
  </nav>
</div>